body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: $font-alice;
  font-size: $size-texte;
  background-color: $vert-principal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

a, li, ul {
  text-decoration: none;
  color: inherit;
}

img {
  /*max-width: 100%;*/
  display: block;
}

main {
  margin: 20px auto 0 auto;
  width: 95%;
}

h1 {
  font-family: $font-alice;
  font-size: $front-top;
  margin-top: 50px;
  margin-bottom: 40px;
  cursor: default;
}

h2, p {
  font-family: $font-alice;
  margin: 10px 0 0;
  cursor: default;
}

.global {
  padding: 0;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  /*flex-wrap: wrap; On le retire*/
  flex-direction: row;
}

  .card {
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.populaire__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 3rem;
}

.populaire__article {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 420px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.carte__image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.carte__contenu {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.carte__titre {
  font-size: 1.1rem;
  margin: 0 0 10px;
}

.carte__description {
  flex-grow: 1;
  font-size: 0.9rem;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte__bouton {
  margin-top: auto;
  align-self: flex-start;
  background-color: #336455;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.carte__bouton:hover {
  background-color: #375249;
}
