.hero_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}

.hero_row .col p {
    font-size: 25px;
}

.hero_contenu {
    flex: 1 1 60%; 
    min-width: 300px; 
    max-width: 60%;
    /*background-color: rgba(0, 0, 0, 0.4);*/
    padding: 2rem 2rem 2rem 7rem;
    border-radius: 1rem;
    color: white;
    text-align: left;
}

.acceuil_recherche {
    flex: 0 0 auto;
    min-width: 200px; 
    display: flex;
    align-items: center;
    padding-right: 7rem;
}

.hero_contenu--centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero_contenu--centered .hero_titre, .hero_contenu--centered .hero_description {
    text-align: center;
}

.hero--fake {
    padding: 0;
}

.hero_titre {
    animation: anime-titre  2s 1s forwards;
}

@keyframes anime-titre {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}

.hero-carousel {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;
    max-height: 600px;
}

.hero-slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

.hero-slide.active {
    opacity: 1;
    z-index: 1;
}

.svg-wave-container {
  margin: 0;
  padding: 0;
  border: none;
}



.svg-wave-container svg {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.svg-wave-container {
  margin-bottom: -1px;
}

